* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    font-family: 'Roboto', sans-serif;
}

.background {

    background: rgb(56, 55, 55);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 100px 200px 0 200px;
}

.topbar {

    background: black;
    width: 100%;
    height: 70px;
    position: fixed;
}

.topbar img {

    width: 50px;
    margin-left: 20%;
    margin-top: 10px;
}

.container {

    background: black;
    width: 350px;
    height: 500px;
    margin: 50px;
    display: flex;
    padding-top: 30px;
    align-items: center;
    flex-direction: column;
    color: white;
}

.container img {

    width: 300px;
}

.container h3 {

    font-size: 23px;
    font-weight: 700;
}

.container > * {

    padding-bottom: 10px;
    text-align: center;
}